<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="mooSendConfigurationGroup">
      <section
        name="mooSendBasicConfiguration"
        type="Moosend.Net.Api.Config.MoosendConfig, Moosend.Net.Api.Config"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>


  <!-- Configuration section settings area. -->
  <mooSendConfigurationGroup>
    <mooSendBasicConfiguration 
      baseUrl="http://api.moosend.com/" 
      apiVersion="v2" 
      apiKey="xxxxxx" 
      subscribersRetaliveUri="subscribers" />
  </mooSendConfigurationGroup>
  
  
</configuration>